.redes{
    background-color: tan;
    width: 10%;
    height: 100%;
    margin-left: 90%;
    position: fixed;
}
.fa { 
    text-align: center;
    text-decoration: none;
    margin: 35px 10px 0;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram{
    color:black;
}

.fa-google{
    color:black;
    margin-left:65px;
}
